<head>
    <title>{{ page.title | flatify }} / {{ site.title }}</title>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/main.css">
    {%- seo title=false -%}
</head>