//
    // Animations
    // @package 22

.animated
    animation-duration:     1s
    animation-fill-mode:    both
    &.backwards
        animation-fill-mode:    backwards

.fade-in-up
    animation-name:         fade-in-up
.fade-out-down
    animation-name:         fade-out-down
.slide-down
    animation-name:         slide-down

@keyframes fade-in-up
    0%
        opacity:            0
        transform:          translate3d(0, 15px, 0)
    100%
        opacity:            1
        transform:          translate3d(0, 0, 0)
@keyframes fade-out-down
    0%
        opacity:            1
        transform:          translate3d(0, 0, 0)
    100%
        opacity:            0
        transform:          translate3d(0, 15px, 0)

@keyframes slide-down
    0%
        transform:          translate3d(0, -15px, 0)
    100%
        transform:          translate3d(0, 0, 0)

@keyframes platinum-to-white
    0%
        background-color:   $platinum
    100%
        background-color:   #fff