// 
    // Color Classes

    // @package 22
    // @author  Kabolobari Benakole <i@kb.life>

// Backgrounds
.bg-white
    background-color:   #fff
.bg-platinum
    background-color:   $platinum


// Colors
.co-brand
    color:              $primarycolor
.co-black
    color:              $black
.co-sweetgray
    color:              $sweetgray
.co-readablegray
    color:              $readablegray   