//
    // Decorations on Elements

    // @package 22
    // @author  Kabolobari Benakole <kb@22.center>

.has-fullstop
    position:               relative
    display:                inline!important
    &.d-blk
        display:            block!important
    &::after
        position:           absolute
        content:            ''
        width:              7px
        height:             7px
        right:              -12px
        bottom:             7px
        background-color:   $primarycolor
    &.post-content
        &::after
            right:          unset
            bottom:         0

.border
    border:                 $borderline
.border-top
    border-top:             $borderline
.border-right
    border-right:           $borderline
.border-bottom
    border-bottom:          $borderline

.separator
    margin:                 0 $space-xxs
    &::after
        content:            '\00B7'
        color:              inherit

.box-attention-grabber
    position:               relative
    overflow:               hidden
    &::before
        content:            ''
        position:           absolute
        right:              -10px
        bottom:             -10px
        width:              25px
        height:             25px
        border-radius:      50%
        background-color:   $primarycolor

// Post/Page Summary
.summary
    border:                 0
    font-size:              $mediumfont
    line-height:            $headinglh
    color:                  $sweetgray

// Blockquotes
blockquote
    position:               relative
    margin:                 $space-sm calc(-50vw + 50%)
    padding:                0 $space-sm
    font-style:             italic
    @media #{$smallup}
        margin:             $space-md calc(-10vw + 10%)
    p
        font-size:          $largefont!important
    cite
        display:            block
        padding-top:        $space
        font-size:          $smallfont
        font-style:         normal
        color:              $sweetgray
    &::before
        content:            ''
        position:           absolute
        left:               0
        width:              4px
        height:             100%
        background-color:   $primarycolor