//
    // Forms
    // @package 22

.form-control
    position:               relative
    margin-bottom:          $space-md
    &:last-of-type
        margin-bottom:      0
    input:not([type="submit"]), textarea
        font-size:          calc(#{$microfont} - 2px)
        width:              100%
        max-width:          100%
        padding:            0
        border:             0
        border-bottom:      1px solid rgba(#000, 0.3)
        outline:            none
        box-shadow:         none
        box-sizing:         border-box
        background:         transparent
        transition:         box-shadow .32s, border .32s
    input:not([type="submit"])
        height:             $coord-xs
    input[type="submit"]
        @extend .btn
    textarea
        resize:             vertical
        height:             $coord-xl
        vertical-align:     top
    label
        +pos($top: 0, $left: 0)
        font-size:          calc(#{$microfont} - 1px)
        color:              rgba(#000, 0.55)
        cursor:             text
        transform:          translateY(3px)
        transform-origin:   0% 100%
        transition:         transform .25s ease-out, color .25s ease-out
        &.active
            transform:              translateY(-25px) scale(0.96)
            transform-origin:       0 0
    input:not([type="submit"]), textarea
        &:focus
            border-bottom-color:    $primarycolor
            box-shadow:             0 1px 0 0 $primarycolor
            + label
                color:              $primarycolor
    .required
        display:                    inline-block
        transform:                  translate(2px, -2px)
        color:                      red
        font-weight:                bold
input.erroneous, textarea.erroneous
    border-bottom-color:            red!important
    box-shadow:                     0 1px 0 0 red!important
.error
    font-size:                      calc(#{$microfont} - 2px)
    color:                          red