//
    // Links
    // @package 22

.link
    font-family:        $headingfont
    font-weight:        $medium

.cta-link
    color:              $primarycolor
    cursor:             pointer
    &:focus, &:hover, &.is-active
        color:          $primarycolor

.alt-link
    color:              $sweetgray
    &:focus, &:hover, &.is-active
        color:          $primarycolor

.noir-link
    color:              $black
    &:focus, &:hover, &.is-active
        color:          $primarycolor

.link-alt-colors
    .icon, .h
        transition:     color 320ms ease-out
    .icon
        color:          $sweetgray
    .h
        color:          $black
    &:focus, &:hover, &.is-active
        .icon, .h
            color:      $primarycolor