//
    // Text Treatments

    // @package 22
    // @author  Kabolobari Benakole <kb@22.center>

// Headings
h1, h2, h3, h4, .h1, .h2, .h3, .h4
    margin-top:         $space-sm
    margin-bottom:      $space-xxs
    font-family:        $headingfont
    font-weight:        $bold
    line-height:        $headinglh
    &.none
        margin:         unset
        font:           inherit
h1, .h1
    font-size:          1.96rem
    @media #{ $smallup }
        font-size:      2.08rem
h2, .h2
    font-size:          1.88rem
    @media #{ $smallup }
        font-size:      1.96rem
h3, .h3
    font-size:          1.56rem
h4, .h4
    font-size:          0.96rem
    text-transform:     uppercase
    letter-spacing:     $headingls
    &.none
        text-transform: inherit
        letter-spacing: inherit
h3 + h4, .h3 + .h4
    margin-top:         $space

.is-all-caps
    text-transform:     uppercase
    letter-spacing:     $headingls

.tx-c
    text-align:         center
.tx-r
    text-align:         right

.picotext
    font-size:          $picofont
.nanotext
    font-size:          $nanofont
.microtext
    font-size:          $microfont
.smalltext
    font-size:          $smallfont
.mediumtext
    font-size:          $mediumfont

.lh-0
    line-height:        0
.lh-1
    line-height:        1
.lh-1hh
    line-height:        1.25
.lh-1h
    line-height:        1.5

.ff-heading
    font-family:        $headingfont
.fw-normal
    font-weight:        $normal
.fw-bold
    font-weight:        $bold

.fs-i
    font-style:         italic