// 
    // About Page

    // @package 22
    // @author  Kabolobari Benakole <i@kb.life>

img[alt*="Bust"]
    width:              168px
    margin:             $space-sm
    margin-left:        0
    float:              left
    border-radius:      50%
    shape-outside:      circle()
    @media #{ $smallup }
        width:          192px