// 
    // Archive Pages (Posts & Pages)

    // @package 22
    // @author  Kabolobari Benakole <kb@22.center>

.is-essays-all
    .featured-content-list
        li:not(:last-child)
            margin-bottom:      $space
            @media #{$mediumup}
                margin-bottom:  $space-sm

.is-list-all
    .post-date, .reading-time
        font-size:              $nanofont