// 
    // Home Page

    // @package 22
    // @author  Kabolobari Benakole <i@kb.life>

.is-home, .is-oops
    .site
        display:                    flex
        flex-direction:             column
        height:                     100vh
    .branding
        svg
            width:                  72px
            height:                 72px
    .content
        p
            font-size:              $smallfont