//
    // Single Pages (Posts & Pages)

    // @package 22
    // @author  Kabolobari Benakole <kb@22.center>

.page-body, .post-content
    a:not(.link):not(.noir-link):not(.btn)
        text-decoration:    underline

.post-meta
    padding-top:            $space-xs
    padding-bottom:         $space
    font-family:            $headingfont
    font-size:              $microfont
    font-weight:            $normal
    color:                  $sweetgray

.post-description, .post-content
    p
        font-size:          $microfont
    ul, ol
        li
            margin-bottom:  ($p-margin-bottom / 2)
            font-size:      110%
            color:          $readablegray

.post-content, .last-p-mb-0
    p:last-child
        margin-bottom:      0

.gets-dropcap
    &.post-content .first-character
        float:              left
        padding:            0 $space-xs 0 $space-xs
        font-family:        $headingfont
        font-weight:        $bold
        font-size:          6rem
        line-height:        0.935
        color:              $black

.editors-note
    background-color:       $platinum
    padding:                $space
    margin:                 0 0 $p-margin-bottom
    p
        line-height:        $headinglh
        font-size:          $basefont
        color:              $sweetgray
        &:last-of-type
            margin-bottom:  0
    @media #{ $smallup }
        width:              45%
        float:              right
        padding:            $space-sm
        margin:             (($defaultlh * $basefont) / 2) 0 $space-sm $space-sm
        &::after
            content:        ''
            display:        table
            clear:          both