<section class="maxwidth-md mx-auto wrapper will-grow negate-bottom">
    <h3 class="d-flx al-i-c co-sweetgray fw-bold nanotext is-all-caps mt-0">
        {%- include tools/icons.html icon="activity" -%}
        <span class="suffix">
            Also see:
        </span>
    </h3>
    <ul class="none inline-list m-0">
        {%- for entry in page.also-see -%}
            <li>
                <a href="{{ site.url }}/words/{{ entry | slugify }}" class="btn btn-md btn-neutral">
                    {{ entry | downcase }}
                </a>
            </li>
        {%- endfor -%}
    </ul>
</section>