<aside class="editors-note box-attention-grabber ff-heading">
    <h2 class="sr">Editor's Notes</h2>
    {%- if page.updated_date -%}
        <p class="mb-1h">
            <span class="d-blk nanotext is-all-caps co-readablegray fw-bold">
                Latest update
            </span>
            <span class="indented">
                {{ page.updated_date | date: '%b %d, %Y' }}
            </span>
        </p>
    {%- endif -%}
    {%- if page.is_skills -%}
        <p class="mb-1h">
            <span class="d-blk nanotext is-all-caps co-readablegray fw-bold">
                Released
            </span>
            <span class="indented">
                {{ page.date | date: '%b %d, %Y' }}
            </span>
        </p>
    {%- endif -%}
    {%- if page.updated_date -%}
        <p class="mb-1h">
            <span class="d-blk nanotext is-all-caps co-readablegray fw-bold">
                Updated by
            </span>
            <span class="indented">
                {{ page.last_modified_author }}
            </span>
        </p>
    {%- endif -%}
    <p class="mb-1h">
        <span class="d-blk nanotext is-all-caps co-readablegray fw-bold">
            Original essay by
        </span>
        <span class="indented">
            {{ page.author }}
        </span>
    </p>
    {%- if page.editors_notes.size > 0 -%}
        <p>
            <span class="d-blk nanotext is-all-caps co-readablegray fw-bold">
                Notes
            </span>
            <span class="italicized">
                {{ page.editors_notes }}
            </span>
        </p>
    {%- endif -%}
</aside>