<form action="/faq-received" class="maxwidth-tb mx-auto mt-space p-space box-attention-grabber bg-platinum"
    name="FAQ Question" method="POST" netlify-honeypot="bot-field" data-netlify="true">
    <div class="form-control mt-space">
        <textarea id="faq-question" name="notes" maxlength="140" required></textarea>
        <label class="ff-heading fw-medium smalltext" for="faq-question">Your question...</label>
        <p style="font-family: monospace" class="tx-r mt-h" aria-live="polite" aria-atomic="true">
            <span class="tx-r co-sweetgray"><span class="counter">0</span>/140 characters.</span>
        </p>
    </div>
    <p class="sr">
        <label>Are you human? Well, here's a test for you. <input name="bot-field" /></label>
    </p>
    <p class="form-control">
        <button class="d-flx al-i-c link cta-link prefix is-even-wider microtext" type="submit">
            <span class="prefix">Send</span>
            {%- include tools/icons.html icon="arrow-right" -%}
        </button>
    </p>
</form>