<form action="/success" class="maxwidth-tb mx-auto mt-space p-space box-attention-grabber bg-platinum" name="Essay Comments" method="POST" netlify-honeypot="bot-field" data-netlify="true">
    <p class="smalltext co-sweetgray lh-1h fs-i">
        {%- if page.notes_form_cta_text.size > 8 -%}
            {{ page.notes_form_cta_text }}
        {%- else -%}
            Comments regarding this essay you want me to see? Tweet it in below.
        {%- endif -%}
    </p>
    <div class="form-control mt-space">
        <textarea id="notes-body" name="notes" maxlength="280" required></textarea>
        <label class="ff-heading fw-medium smalltext" for="notes-body">Your comments...</label>
        <p style="font-family: monospace" class="tx-r mt-h" aria-live="polite" aria-atomic="true">
            <span class="tx-r co-sweetgray"><span class="counter">0</span>/280 characters.</span>
        </p>
    </div>
    <p class="form-control mt-space">
        <input id="email" type="email" name="email" required>
        <label class="ff-heading fw-medium smalltext" for="email">Your email:</label>
    </p>
    <p class="sr">
        <label>Are you human? Well, here's a test for you.</label>
        <input name="bot-field" />
    </p>
    <p class="form-control">
        <button class="d-flx al-i-c link cta-link prefix is-even-wider microtext" type="submit">
            <span class="prefix">Send</span>
            {%- include tools/icons.html icon="arrow-right" -%}
        </button>
    </p>
</form>