<section class="page-title maxwidth-tb mx-auto wrapper-x pt-h">
    <h2 class="the-title mt-0 has-fullstop">
        {%- if page.collection == 'themes' -%}
            {{ page.title | flatify | capitalize_initial_letters }}
        {%- elsif page.url == '/faqs/' -%}
            {{ page.title | flatify }}
        {%- else -%}
            {{ page.title | flatify | capitalize }}
        {%- endif -%}
        {%- if page.title contains 'Get 22' -%}
            <sup class="post-count ff-serif fw-normal microtext co-sweetgray">
                [{{ site.words.size }}]
            </sup>
            {%- elsif page.collection == 'themes' -%}
            {%- assign current_theme = page.title | downcase -%}
            {%- assign essay_theme = site.essays | where: 'themes', current_theme -%}
            <sup class="post-count ff-serif fw-normal microtext co-sweetgray">
                [{{ essay_theme.size }}]
            </sup>
        {%- endif -%}
    </h2>
    <p class="summary fs-i">
        {%- if page.collection == 'themes' -%}
            <span class="co-black">Essays that're themed</span>  "{{ page.title }}"
            {%- else -%}
            {%- if page.description -%}
                {{ page.description | flatify }}
            {%- else -%}
                {{ site.description }}
            {%- endif -%}
        {%- endif -%}
    </p>
</section>