<div class="post-tags mt-1">
    {%- for item in entry.themes limit: 1 -%}
        {%- assign theme = site.themes | where: 'title', item | first -%}
        <span class="d-ibl mr-h picotext is-all-caps ff-heading fw-bold" style="color:{{theme.color}}">
            {{ item | capitalize }}
        </span>
    {%- endfor -%}
</div>