<section class="maxwidth-md mx-auto wrapper will-grow negate-bottom">
    <h3 class="d-flx al-i-c co-sweetgray fw-bold nanotext is-all-caps mt-0">
        {%- include tools/icons.html icon="tag" -%}
        <span class="suffix">
            Themes:
        </span>
    </h3>
    <ul class="none inline-list m-0">
        {%- for item in page.themes limit: 3 -%}
            <li>
                <a href="{{ site.url }}/themes/{{ item | slugify }}" class="btn btn-md btn-neutral">
                    <h4 class="none">
                        {{ item | capitalize_initial_letters }}
                    </h4>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</section>