{%- if page.themes.size >= 1 and page.is_skills -%}
    {%- include components/post-themes.html -%}
{%- endif -%}
{%- if page.also-see.size >= 1 -%}
    {%- include components/also-see.html -%}
{%- endif -%}
{%- if page.show_notes_form == true -%}
    {%- include components/notes-form.html -%}
{%- endif -%}
<nav class="maxwidth-tb mx-auto wrapper negate-bottom">
    <h2 class="sr">All, previous, and next</h2>
    {%- if page.is_skills -%}
        {%- assign refPage = '/essays/all/' -%}
        {%- assign pageParent = 'essays' -%}
    {%- elsif page.is_thinklist -%}
        {%- assign refPage = '/thinklist/' -%}
        {%- assign pageParent = 'thinklist' -%}
    {%- else -%}
        {%- assign refPage = '/words/' -%}
        {%- assign pageParent = 'words' -%}
    {%- endif -%}
    <a href="{{ refPage | prepend: site.url }}" class="ff-heading fw-bold nanotext is-all-caps d-flx al-i-c wrapper-y">
        {%- include tools/icons.html icon="list" -%}
        <span class="suffix">
            All {{ pageParent }}
        </span>
    </a>
    {%- if page.previous.url or page.next.url -%}
        <div class="d-flx al-i-fs j-c-sb border-top">
            {%- if page.previous.url -%}
                <a href="{{ page.previous.url | prepend: site.url }}" class="wrapper negate-left width-100-pc ff-heading m-0 link-alt-colors {% if page.next.url %}border-right{% endif %} {% unless page.next.url %}negate-right{% endunless %}">
                    <div class="d-flx al-i-c icon mb-h">
                        {%- include tools/icons.html icon="skip-back" -%}
                        <span class="suffix ff-heading fw-bold nanotext is-all-caps">
                            Prev:
                        </span>
                    </div>
                    <span class="h mt-h fw-medium mediumtext lh-1">
                        {{ page.previous.title }}
                    </span>
                </a>
            {%- endif -%}
            {%- if page.next.url -%}
                <a href="{{ page.next.url | prepend: site.url }}" class="wrapper-y width-100-pc ff-heading m-0 link-alt-colors wrapper negate-right {% unless page.previous.url %}negate-left{% endunless %}">
                    <div class="d-flx al-i-c icon mb-h">
                        {%- include tools/icons.html icon="skip-forward" -%}
                        <span class="suffix ff-heading fw-bold nanotext is-all-caps">
                            Next:
                        </span>
                    </div>
                    <span class="h mt-h fw-medium mediumtext lh-1">
                        {{ page.next.title }}
                    </span>
                </a>
            {%- endif -%}
        </div>
    {%- endif -%}
</nav>