// 
    // Header

    // @package 22
    // @author  Kabolobari Benakole <kb@22.center>

.site-header
    .logo
        svg
            width:          45px
            height:         45px

.page-title
    &::after
        content:            ''
        display:            block
        height:             1px
        margin-top:         1.5rem
        background-color:   #ddd

.affixed
    position:               fixed
    right:                  0
    left:                   0
    background-color:       #fff
    transition:             transform 0.5s ease
    z-index:                10
    &.to-top
        top:                0
        transform:          translateY(-100%)
        &.in-view
            transform:      translateY(0)
    &.to-bottom
        bottom:             0
        transform:          translateY(100%)
        &.in-view
            transform:      translateY(0)