// 
    // Navigations

    // @package 22
    // @author  Kabolobari Benakole <kb@22.center>

.nav
    ul.is-horizontal
        display:                    flex
        li
            a, button
                display:            block
                padding:            0.8rem
                cursor:             pointer // because button
                transition:         $linkColorTransition
                @extend .alt-link
                &.logo
                    padding:        0
                &.start
                    padding:        0.72rem $space
                &.is-active
                    color:          $primarycolor
            &:first-of-type a
                padding-left:       0
        &.is-toolsnav 
            li
                a, button
                    padding:        0.72rem
                &:last-of-type a, &:last-of-type button
                    padding-right:  $space

.site-header, .site-footer
    .nav
        li
            margin-bottom:          0
            a
                font-family:        $headingfont
                font-weight:        $bold