// 
    // Very Specific Section Decorations/Markers

    // @package 22
    // @author  Kabolobari Benakole <kb@22.center>

.page-body
    font-size:              $smallfont
    p
        color:              $readablegray
    section
        h3
            margin-top:     0

.pad-main-top-bottom
    padding-top:            5.72rem
    padding-bottom:         4.48rem

.footnotes
    position:               relative
    padding:                $space
    background-color:       $platinum
    border:                 1px solid #eee
    border-left:            4px solid $primarycolor
    font-size:              $microfont
    color:                  $readablegray
    h3
        font-size:          $mediumfont
        line-height:        1
        &:first-of-type
            margin-top:     0
    p
        &:last-of-type
            margin-bottom:  0
    &::after
        content:            'i'
        position:           absolute
        top:                17px
        left:               -14px
        color:              #fff
        width:              24px
        height:             24px
        background-color:   $primarycolor
        text-align:         center
        font-weight:        $bold
    .company
        +caps($nanofont, $bold, uppercase, $headingls)
        display:            block
        text-indent:        1rem
    ul, ol
        margin-bottom:      0

.pagination
    svg
        width:              20px
        height:             20px

.all-updates
    article
        &:last-child a
            border-bottom:  none

.story-break
    margin-top:             2.25rem
    margin-bottom:          1.95rem
    line-height:            0