{%- if page.permalink == '/essays/all/' or page.collection == 'themes' -%}
    <li>
        <a href="{{ entry.url | prepend: site.url }}" class="link noir-link tabular-list-block-item">
            {{ entry.title }}
            <div class="post-meta pb-0 d-flx al-i-c">
                <span>
                    {{ entry.author }}
                </span>
                <span class="separator"></span>
                <span class="reading-time">
                    {%- include components/reading-time.html -%}
                </span>
            </div>
            {%- if entry.themes.size >= 1 -%}
                {%- include components/post-tags.html -%}
            {%- endif -%}
        </a>
    </li>
{%- elsif page.dir == '/thinklist/' -%}
    <li>
        <a href="{{ entry.url | prepend: site.url }}" class="link noir-link tabular-list-block-item list-title-is-shorter">
            {{ entry.title }}
            <div class="post-meta pb-0">
                <span class="reading-time">
                    {%- include components/reading-time.html -%}
                </span>
            </div>
        </a>
    </li>
{%- else -%}
    <li>
        <a href="{{ entry.url | prepend: site.url }}" class="link noir-link tabular-list-block-item list-title-is-shorter">
            {{ entry.title }}
        </a>
    </li>
{%- endif -%}