{%- assign class = nil -%}
{%- assign url = page.url | remove: 'index.html' -%}
{%- assign entryName = entry.name | slugify -%}
{%- if url contains entryName -%}
    {%- assign class = class | append: ' is-active' -%}
{%- endif -%}
<li {% if entry.is_button == true %} class="fullscreen-toggler-li" {% endif %}>
    {%- if entry.external == true -%}
        <a rel="noopener" href="{{ entry.slug }}" class="{{ class }}" target="_blank">
            <span class="sr">
                {{ entry.name }}
            </span>
            {%- case entry.location -%}
                {%- when 'twitter' -%}
                    {%- include tools/icons.html icon="twitter" -%}
            {%- endcase -%}
        </a>
    {%- elsif entry.is_iconic == true -%}
        <a href="{{ entry.slug | prepend: site.url }}" class="{{ class }} {% if entry.is_logo == true %}logo{% endif %} {% if entry.is_start == true %}start{% endif %}">
            {%- if entry.name == 'Start' -%}
                <span class="sr">
                    Get started with 22
                </span>
            {%- else -%}
                <span class="sr">
                    {{ entry.name }}
                </span>
            {%- endif -%}
            {%- case entry.name -%}
                {%- when 'Home' -%}
                    {%- include tools/icons.html icon="logo" -%}
                {%- when 'Start' -%}
                    {%- include tools/icons.html icon="target" -%}
                {%- when 'Themes' -%}
                    {%- include tools/icons.html icon="tag" -%}
                {%- when 'Search' -%}
                    {%- include tools/icons.html icon="search" -%}
            {%- endcase -%}
        </a>
    {%- else -%}
        <a href="{{ entry.slug | prepend: site.url }}" class="{{ class }}">
            {{ entry.name }}
        </a>
    {%- endif -%}
</li>