<nav class="nav">
    <h2 class="sr">Branding & Start</h2>
    <ul class="none m-0 is-horizontal is-brandnav" nav-list>
        {%- assign brandnav = site.data.navs.brandnav -%}
        {%- for entry in brandnav -%}
            {%- include lists/nav.html -%}
        {%- endfor -%}
    </ul>
</nav>