<nav class="nav">
    <h2 class="sr">Site's Minimap</h2>
    <ul class="none m-0 is-horizontal nanotext is-all-caps">
        {%- assign footernav = site.data.navs.footernav -%}
        {%- for entry in footernav -%}
            {%- include lists/nav.html -%}
        {%- endfor -%}
    </ul>
</nav>