<nav class="nav mainnav wrapper-x maxwidth-lt mx-auto">
    <h2 class="sr">Main Navigation</h2>
    <ul class="none m-0 is-horizontal nanotext is-all-caps" nav-list>
        {%- assign mainnav = site.data.navs.mainnav -%}
        {%- for entry in mainnav -%}
            {%- include lists/nav.html -%}
        {%- endfor -%}
    </ul>
</nav>