<nav class="nav">
    <h2 class="sr">Site Tools</h2>
    <ul class="none m-0 is-horizontal is-toolsnav nanotext is-all-caps" nav-list>
        {%- assign toolsnav = site.data.navs.toolsnav -%}
        {%- for entry in toolsnav -%}
            {%- include lists/nav.html -%}
        {%- endfor -%}
    </ul>
</nav>