---
layout: default
---
{%- include components/page-title.html -%}
<div class="page-body maxwidth-md mx-auto wrapper-x">
    <section class="wrapper-y will-grow border-bottom">
        {{ page.about_22.body | markdownify | flatify }}
    </section>
    <section class="wrapper-y will-grow negate-bottom clearfix">
        {{ page.about_kb.body | markdownify | flatify }}
    </section>
    <section class="wrapper-y will-grow">
        <div class="footnotes">
            {{ page.footnotes.body | markdownify }}
            <a href="https://twitter.com/{{ site.photographers.handle }}" target="_blank">
                <span class="fw-bold">
                    {{ site.photographers.bespoke }}
                </span>
            </a>
            <span class="company">
                {{ site.photographers.company }}
            </span>
        </div>
    </section>
</div>