<!doctype html>
<html lang="en">
    {%- include shell/head.html -%}
    {%- assign class = nil -%}
    {%- if page.layout -%}
        {%- assign class = class | append: page.layout -%}
    {%- endif -%}
    {%- if page.layout == 'essays-all' or page.layout == 'list-all' or page.layout == 'tags-all' or page.layout == 'tags-single' or page.layout == 'words-all' or page.layout == 'faqs' -%}
        {%- assign moreClass = 'is-archive' -%}
    {%- else -%}
        {%- assign moreClass = 'is-page' -%}
    {%- endif -%}
    <body class="is-{{ class }} {{ moreClass }}">
        <a class="sr" href="#main">
            Skip to content
        </a>
        <h1 class="sr">
            {{ page.title }}
        </h1>
        {%- unless page.url == "/" or page.name == "404.md" -%}
            {%- include shell/header.html -%}
        {%- endunless -%}
        <main class="site animated fade-in-up {% unless page.url == "/" or page.name == "404.md" %}pad-main-top-bottom{% endunless %}" id="main" content-start>
            {{ content }}
        </main>
        {%- unless page.url == "/" or page.name == "404.md" -%}
            {%- include shell/footer.html -%}
        {%- endunless -%}
        <script src="{{ site.url }}/js/main.js"></script>
    </body>
</html>