---
layout: default
---
{%- include components/page-title.html -%}
<div class="page-body maxwidth-tb mx-auto wrapper negate-bottom">
    <ul class="none m-0 featured-content-list" archive>
        {%- assign essays = site.essays | sort: 'date' | reverse -%}
        {%- for entry in essays limit: 7 -%}
            <li>
                <a href="{{ entry.url | prepend: site.url }}" class="d-blk noir-link tabular-list-block-item">
                    <h3 class="h the-title mt-0 mb-0">
                        {{ entry.title }}
                    </h3>
                    <div class="post-meta d-flx al-i-c">
                        <span>
                            {{ entry.author }}
                        </span>
                        <span class="separator"></span>
                        <span>
                            {%- include components/reading-time.html -%}
                        </span>
                    </div>
                    {%- if entry.description -%}
                        <p class="post-description mb-0 co-sweetgray maxwidth-sm smalltext">
                            {{ entry.description }}
                        </p>
                    {%- endif -%}
                    {%- include components/post-tags.html -%}
                </a>
            </li>
        {%- endfor -%}
    </ul>
</div>
<div class="maxwidth-tb mx-auto">
    <a href="{{ site.url }}/essays/all" class="wrapper will-grow d-flx al-i-c is-all-caps nanotext ff-heading fw-bold">
        {%- include tools/icons.html icon="list" -%}
        <span class="suffix">
            All {{ page.title }}
        </span>
    </a>
</div>