---
layout: default
---
{%- include components/page-title.html -%}
<div class="page-body maxwidth-tb mx-auto wrapper">
    <ul class="none m-0 accordion-wrapper" accordion>
        {%- assign sortedFaqs = site.faqs | sort: 'order' -%}
        {%- for entry in sortedFaqs -%}
            <li class="accordion-item {% if forloop.index == 1 %}is-active{% endif %}">
                <a href="#accordion-{{ forloop.index }}" class="m-0 accordion-title h3 smalltext" accordion-toggler>
                    <span>{{ entry.title }}</span>
                    {%- include tools/icons.html icon="chevron-down" -%}
                </a>
                <div class="accordion-content {% if forloop.index == 1 %}is-expanded{% endif %}" id="accordion-{{ forloop.index }}">
                    <div class="accordion-inner lh-crop">
                        {{ entry.content }}
                    </div>
                </div>
            </li>
        {%- endfor -%}
        <li class="accordion-item">
            <a href="#accordion-new-faq" class="m-0 accordion-title h3 smalltext" accordion-toggler>
                <span>I have a question that should be here!</span>
                {%- include tools/icons.html icon="chevron-down" -%}
            </a>
            <div class="accordion-content" id="accordion-new-faq">
                <div class="accordion-inner lh-crop">
                    {%- include components/faq-form.html -%}
                </div>
            </div>
        </li>
    </ul>
</div>