---
layout: default
---
<div class="page-home-wrapper maxwidth-tb m-auto">
    <div class="branding">
        <a href="{{ site.url }}" class="wrapper negate-top d-ibl">
            <span class="sr">22 Center</span>
            {%- include tools/icons.html icon="logo" -%}
        </a>
    </div>
    <section class="content">
        <div class="wrapper">
            <h2 class="mt-0 h1">
                {{ page.title }}
            </h2>
            <p>
                {{ page.description }}
            </p>
            <div class="call-to-action d-flx al-i-c ff-sans-serif mt-2">
                <a href="{{ site.url }}/find-center/" class="d-flx al-i-c link cta-link prefix is-even-wider microtext">
                    <span class="prefix">
                        See how
                    </span>
                    {%- include tools/icons.html icon="arrow-right" -%}
                </a>
            </div>
        </div>
    </section>
</div>