---
layout: default
---
{%- include components/page-title.html -%}
<div class="page-body maxwidth-md mx-auto wrapper-x">
    <section class="wrapper-y will-grow border-bottom last-p-mb-0">
        {{ page.disclaimer.body | markdownify | flatify }}
    </section>
    <section class="wrapper-y will-grow border-bottom last-p-mb-0">
        {{ page.copyright.body | markdownify | flatify }}
    </section>
    <section class="wrapper-y will-grow border-bottom last-p-mb-0">
        {{ page.privacy.body | markdownify | flatify }}
    </section>
    <section class="wrapper-y will-grow border-bottom last-p-mb-0">
        {{ page.credits.body | markdownify | flatify }}
    </section>
    <section class="wrapper-y will-grow last-p-mb-0">
        {{ page.about_owner.body | markdownify | flatify }}
        <p class="mb-0 microtext" style="font-style:italic;opacity:0.7">
            Last Updated {{ page.last_updated_at }}
        </p>
    </section>
</div>