---
layout: default
---
{%- include components/page-title.html -%}
<div class="page-body maxwidth-tb mx-auto wrapper-x">
    <ul class="none m-0 tabular-list wrapper-y">
        {%- if page.permalink == '/essays/all/' -%}
            {%- assign collection = site.essays | sort: 'date' | reverse -%}
        {%- else -%}
            {%- assign collection = site.thinklist -%}
        {%- endif -%}
        {%- for entry in collection -%}
            {%- include lists/entry.html -%}
        {%- endfor -%}
    </ul>
</div>