---
layout: default
---
<div class="maxwidth-tb m-auto">
    <section class="branding">
        <h2 class="sr">{{ page.title }}</h2>
        <a href="{{ site.url }}" class="wrapper d-ibl">
            {%- include tools/icons.html icon="logo" -%}
        </a>
    </section>
    <section class="content">
        <div class="wrapper">
            <h2 class="mt-0">
                {{ page.title }}
            </h2>
            <p>
                {{ page.explainer }}
            </p>
            <div class="call-to-action d-flx al-i-c ff-sans-serif mt-2">
                <a href="{{ site.url }}/start/" class="d-flx al-i-c cta-link prefix is-even-wider">
                    <span class="prefix">Go Here</span>
                    {%- include tools/icons.html icon="target" -%}
                </a>
            </div>
        </div>
    </section>
</div>