---
layout: default
---
{%- include components/page-title.html -%}
<div class="page-body maxwidth-tb mx-auto wrapper negate-bottom">
    <form action="https://duckduckgo.com/" target="_blank" data-search-form>
        <label for="search-input" class="sr">
            Enter your search term:
        </label>
        <input type="text" name="q" id="search-input" value=" site:{{site.url}}" placeholder="Search 22 Center" autofocus data-search-input>
        <button data-search-submit>
            {%- include tools/icons.html icon="search" -%}
        </button>
    </form>
    <div data-search-results>
        <ul class="none m-0">
            <li>
                
            </li>
        </ul>
    </div>
</div>