---
layout: default
---
<div class="page-title maxwidth-tb mx-auto wrapper-x pt-h">
    <h2 class="h the-title mt-0 mb-0 has-fullstop">
        {{ page.title }}
    </h2>
    {%- if page.is_thinklist -%}
        <p class="post-meta mb-0 pb-0">
            {%- include components/reading-time.html -%}
        </p>
    {%- endif -%}
    {%- if page.is_skills -%}
        <div class="post-meta d-flx al-i-c">
            <img class="avatar is-micro prefix" src="{{ site.url }}/uploads/avatars/kb.jpg" alt="{{ page.author }}">
            <span class="byline">
                {{ page.author }}
            </span>
            <span class="separator"></span>
            <span>
                {%- include components/reading-time.html -%}
            </span>
        </div>
    {%- endif -%}
    {%- if page.description -%}
        <p class="summary fs-i">
            {{ page.description }}
        </p>
    {%- endif -%}
</div>
{%- assign class = 'post-content py-2 has-fullstop d-blk maxwidth-md mx-auto wrapper-x' -%}
{%- if page.is_skills -%}
    {%- assign class = class | append: ' gets-dropcap' -%}
{%- elsif page.is_thinklist -%}
    {%- assign class = class | append: ' gets-dropcap' -%}
{%- endif -%}
<article class="{{ class }}">
    <h2 class="sr">Contents of {{ page.title }}</h2>
    {%- if page.is_skills or page.is_thinklist -%}
        {%- include components/editors-notes.html -%}
    {%- endif -%}
    {{ content | markdownify | flatify }}
</article>
{%- if page.footnotes -%}
    {%- include components/footnotes.html -%}
{%- endif -%}
{%- include components/single-after.html -%}