---
layout: default
---
{%- include components/page-title.html -%}
<div class="page-body maxwidth-tb mx-auto wrapper-x">
    <section class="wrapper-y will-grow border-bottom">
        {{ page.what.body | markdownify | flatify }}
    </section>
    <section class="wrapper-y will-grow border-bottom">
        {{ page.why.body | markdownify | flatify }}
    </section>
    <section class="wrapper-y will-grow border-bottom">
        {{ page.how.body | markdownify | flatify }}
    </section>
    <section class="wrapper-y will-grow">
        {{ page.list.body | markdownify | flatify }}
    </section>
</div>