---
layout: default
---
<section class="content maxwidth-tb m-auto">
    <div class="wrapper">
        <h2 class="mt-0 h1">{{ page.title }}</h2>
        <p>{{ page.description }}</p>
        <div class="call-to-action d-flx al-i-c ff-sans-serif mt-2">
            <a onclick="history.back()" href="" class="d-flx al-i-c link cta-link prefix is-even-wider microtext">
                {%- include tools/icons.html icon="arrow-left" -%}
                <span class="suffix">
                    Return back
                </span>
            </a>
        </div>
    </div>
</section>