---
layout: default
---
{%- include components/page-title.html -%}
<div class="page-body maxwidth-tb mx-auto wrapper-x">
    <ul class="none m-0 tabular-list wrapper-y negate-bottom">
        {%- assign current_theme = page.title | downcase -%}
        {%- assign essay_theme = site.essays | where: 'themes', current_theme -%}
        {%- for entry in essay_theme reversed -%}
            {%- include lists/entry.html -%}
        {%- endfor -%}
    </ul>
</div>
<div class="maxwidth-tb mx-auto">
    <a href="{{ site.url }}/themes/" class="wrapper will-grow d-flx al-i-c is-all-caps nanotext ff-heading fw-bold wrapper-y">
        {%- include tools/icons.html icon="tag" -%}
        <span class="suffix">
            All Themes
        </span>
    </a>
</div>