---
layout: default
---
{%- include components/page-title.html -%}
<div class="page-body maxwidth-tb mx-auto wrapper negate-top">
    <ul class="none inline-list fs-0 m-0 wrapper-y">
        {%- for item in site.themes -%}
            {%- assign current_theme = item.title | downcase -%}
            {%- assign essay_theme = site.essays | where: 'themes', current_theme -%}
            <li>
                <a href="{{ site.url }}/themes/{{ item.title | slugify }}/" class="btn btn-md btn-neutral">
                    {{ item.title | capitalize_initial_letters }}
                    <span class="suffix post-count ff-serif fw-normal microtext co-sweetgray">
                        [{{ essay_theme.size }}]
                    </span>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</div>