---
layout: default
---
{%- include components/page-title.html -%}
<div class="page-body maxwidth-tb mx-auto wrapper negate-top">
    {%- assign wordsByAlphabet = site.words | group_by_exp: 'alphabet', 'alphabet.title | slice: 0' -%}
    {%- for words in wordsByAlphabet -%}
        <div class="wrapper-y negate-bottom">
            <h4 class="mt-0">
                {{ words.name | upcase }}
            </h4>
            <ul class="none inline-list fs-0 m-0">
                {%- for entry in words.items -%}
                    <li>
                        <a href="{{ site.url }}/words/{{ entry.title | slugify }}" class="btn btn-md btn-neutral">
                            {{ entry.title }}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endfor -%}
</div>